=bootstrap_form_with model: @work, local: true do |f|
  =f.text_field :title
  =f.collection_select :director_id, Director.all, :id, :name, include_blank: true, class: 'form-control '
  =f.text_field :release
  =f.text_field :starring
  =f.text_field :description
  =f.file_field :image
  =f.hidden_field :image_cache
  -if @work.image?
    .m-t-5
      =image_tag @work.image_url(:thumb)
      .checkbox.checkbox-primary.m-t-5
        =f.check_box_without_bootstrap :remove_image
        =f.label :remove_image, 'Image Delete'

  =f.submit class: "btn btn-info"
%br
=link_to "Back to the list", works_path
