=bootstrap_form_with model: @director, local: true do |f|
  =f.text_field :name
  =f.text_field :from
  =f.file_field :image
  =f.submit class: "btn btn-info"

%br
=link_to "Back to the list", directors_path
