-# -@directors.each do |director|
-#   %hr
-#   =" name :"
-#   =link_to "#{director.name}", director_path(director)
-#   %br
-#   =" from :"
-#   =director.from
-#   %br
-#
-#   =link_to "Edit", edit_director_path(director)
-#   =link_to "Delete", director_path(director), method: :delete, data: {confirm: "Are you sure?"}
-# %hr
-# =link_to "Registrarion", new_director_path

%main#main
  %section.section.site-portfolio
    .container
      .row.mb-5.align-items-center
        .col-md-12.col-lg-6.mb-4.mb-lg-0{"data-aos" => "fade-up"}
          %h2 Directors
          %p.mb-0 Look up the movies  those fantastic directors worked on!
        .col-md-12.col-lg-6.text-left.text-lg-right{"data-aos" => "fade-up", "data-aos-delay" => "100"}
          .filters
            =link_to "Movie", works_path
      #portfolio-grid.row.no-gutter{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        -@directors.each do |director|
          .item.web.col-sm-6.col-md-4.col-lg-4.mb-4
            =link_to director_path(director), class: 'item-wrap fancybox' do
              .work-info
                %h3=director.name
                %span=director.from
              -if director.photo.present?
                =image_tag director.photo.variant(gravity: :center, resize:"350x350^", crop:"350x350+0+0").processed, class: 'img-fluid'
              -else
                %img.img-fluid{:src => "img/default_work.png"}/
      =paginate @directors

      -# %form.form-inline
      -#   %input.form-control.form-control-sm.mr-3.w-75{"aria-label" => "Search", :placeholder => "Search", :type => "text"}/
      -#   %i.fa.fa-search{"aria-hidden" => "true"}
      -# = search_form_for @q do |f|
      -#   = f.search_field :name_cont, class: 'form-control form-control-sm mr-3 w-75'
      -#   = f.submit "Search"
      -if user_signed_in?
        =link_to "Registrarion", new_login_director_path, class: "btn btn-outline-danger"
