%footer.footer{:role => "contentinfo"}
  .container
    .row
      .col-sm-6
        %p.mb-1 © Copyright MyPortfolio. All Rights Reserved
        .credits
          /
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=MyPortfolio
          Designed by
          %a{:href => "https://bootstrapmade.com/"} BootstrapMade
      .col-sm-6.social.text-md-right
        %a{:href => "#"}
          %span.icofont-twitter
        %a{:href => "#"}
          %span.icofont-facebook
        %a{:href => "#"}
          %span.icofont-dribbble
        %a{:href => "#"}
          %span.icofont-behance
%a.back-to-top{:href => "#"}
  %i.icofont-simple-up
